*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #689fe6;
  font-family: 'Montserrat',
  sans-serif;
  font-size: 25px;
  color: white;
  text-align: center;
}
.App{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.clock{
  position: fixed;
  top: 0px;
  right: 5px;
  height: 100px;
}
.timezone{
  width: 200px;
  height: 50px;
  font-size: 25px;
  margin-bottom: 10px;
}
.timezone-info{
  width: 100%;
  text-align: center;
  font-size: 17px;
}
.icon{
  width: 300px;
  height: 150px;
}
.buttonreset{
  width: 125px;
  height: 30px;
  color: white;
  font-size: 21px;
  cursor: pointer;
  margin: 30px 0;
  position: relative;
  outline: none;
  overflow: hidden;
  border-style: none;
  background-color: #ddd;
  background: none;
}
.buttonreset::after
{
  content: "";
  width: 2px;
  height: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: -100%;
  left: 0;

}
.buttonreset:hover::after
{
  animation: underline1 .1s linear ;
}
.buttonreset::before
{
  content: "";
  position: absolute;
  top: calc(100% - 2px);
  left: -100%;
  width: 50%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: .1s .1s linear;
}
.buttonreset:hover::before
{
  left: 50%;
  transform: translateX(-50%);
}
.buttonreset .leftborder
{
  position: absolute;
  top: 100%;
  left: calc(100% - 2px);
  width: 2px;
  height: 50%;
  background-color: rgb(255, 255, 255);
}
.buttonreset:hover .leftborder
{
  animation: underline3 .1s .2s linear ;
}
.buttonreset .rightborder
{
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 50%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}
.buttonreset:hover .rightborder
{
  animation: underline4 .1s .3s linear ;
}
.buttonreset .inscription
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.buttonreset:hover .inscription
{
  animation: buttonAnimation .5s  .3s linear ;
}
.temperature{
  margin: 15px 0;
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
  color: white;
  background: none;
  border-style: none;
  outline: none;
  cursor: pointer;
}
.temperature-info{
  font-size: 15px;
}
@media screen and (max-width: 730px) {
  .app-info{
    flex-direction: column;
  }
  .clock{
    position: static;
  }
}
@keyframes buttonAnimation 
{
  0%
  {
    top: 50%;
  }
  11.111%
  {
    top: -50%;

  }
  22.222%
  {
    top: -50%;
    left:50% 
  }
  33.333%
  {
    top: -50%;
    left: 150%;
  }
  44.444%
  {
    left: 150%;
    top: -50%
  }
  55.555% 
  {
    left: 150%;
    top:150%
  }
  66.666%
  {
    left: 150%;
    top:150%
  }
  77.777% 
  {
    left: 50%;
    top:150%
  }
  88.888% 
  {
    top:150%

  }
  99.999% 
  {
    top:50%;

  }
 
}
@keyframes underline1
{
  0%
  {}
  100% 
  {
    top: 100%;
  }
}
@keyframes underline3 
{
  0% 
  {}
  100% 
  {
    top: 0;
  }
}
@keyframes underline4 
{
  0%
  {}
  100% 
  {
    left: 0;
  }
}